* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #999, transparent);  
}
  
body {
  margin: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/./imagens/fundo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

main{
  padding-bottom:70px ;
}

.main-pags{
  display:inline-flex;
  padding: 0px 0px 55px 0px;
  width: 100%;
}
  
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex: 1;
  padding: 1rem;
  border-top: 1px solid #ff3eff23;
  justify-content: center;
  align-items: center;
  background-color:lightgray;
  }
  
footer > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:500;
}
footer > a > img{
  height: .8em;
  margin-left: 10px;
}

/*=====> INICIO DA BARRA DE NAVEGAÇÃO <=====*/
  
.nav {
  height: 60px;
  width: 100%;
  background-color: lightgray;
  position: relative;
  border-bottom: 2px groove #ff3eff23;
}
  
.nav > .nav-header {
  display: inline;
}
  
.nav > .nav-header > .nav-titulo {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-header > .nav-titulo > img{
  height: 40px;
  width: 174px;
}
  
.nav > .nav-btn {
  display: none;
}
  
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.2em;
  margin: 5px 5px 0px 0px;
}
  
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #4f4f4f;
}
  
.nav > .nav-links > a:hover {
  background-color: #ff3eff23;
}
  
.nav > #nav-check {
  display: none;
}
  
  /*==> TESTE DE RESPONSIVIDADE DA BARRA DE NAVEGAÇÃO <==*/
@media only screen and (max-width:800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin: 5px 5px 0px 0px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #ff3eff23;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #4f4f4f;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #222;
    height: 0px;
    transition: all 0.3s ease-in; /* Faz uma transição suave da expansão da navbar*/
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*=====> FIM DA BARRA DE NAVEGAÇÃO <=====*/

/*=====> INICIO DOS CABEÇÃLHOS <=====*/

.header-home{
  display: inline-flex;
  height:400px;
  width: 100%;
  margin: 20px 0px 20px 0px;
}
.header-pags{
  display: inline-flex;
  justify-content: center;
  background-color:#fdf5;
  height:100px;
  width: 100%;
  margin: 0px;
}
.header-pags > h2{
  height:100px;
  padding: 30px;
}
.header-pags > figure{
  height:100px;
  padding: 20px;
}
.header-pags > figure > img{
  height:60px;
}
.home-cabecalho{
  text-align: center;
  background-color: #ff3eff23;
  border-radius: 20px;
  margin: 20px 0px 20px 20px;
  padding: 10px 20px 10px 20px;
  width: 50%;
  height:100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow:auto;
}
.home-cabecalho > h2{
  font-size: 2em;
}
.home-cabecalho > p{
  font-size: 1em;
}
.home-cabecalho > figure{
  display: inline-block;
  text-align: center;
  margin: 10px 10px 10px 10px;
}
.home-cabecalho > figure > img{
  height: 80px;
}
.fig-cabecalho{
  margin: 20px 10px 20px 0px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  width: 50%;
  height: 100%;
}
.fig-cabecalho > img{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  width: 80%;
}

/*=====> FIM DOS CABEÇÃLHOS <=====*/

/* ======> INICIO DO TESTE DE CARROSSEL <========*/
:root { /*DECLARAÇÃO DE VARIÁVEIS*/
  --foto-width: 600px;
  --foto-height: 300px ;
  --qtd : 4; /* qtd de fotos no carrosel */
  --bg-color :#ff3eff23;
}

/* ===> keyframe <=== */
@keyframes opacity {
  0%{opacity:0}
  100%{opacity:1}
}
 /*===> fim da keyframe <=== */

/* ==> backgrounds <== */
.ui-items .ui-item:nth-child(1){
  background-image: url(/./imagens/Destinos/floripa.jpg);
}

.ui-items .ui-item:nth-child(2){
  background-image: url(/./imagens/Destinos/rio-de-janeiro.jpg);
}

.ui-items .ui-item:nth-child(3){
  background-image: url(/./imagens/Destinos/Fernando-de-Noronha.jpg);
}

.ui-items .ui-item:nth-child(4){
  background-image: url(/./imagens/Destinos/maragogi.jpg);
}
/* ==> fim dos backgrounds <== */

.ui-container {
  width: var(--foto-width);
  height: var(--foto-height);
  overflow:hidden;
  position:relative;
  scroll-behavior:smooth;
  border-radius: 20px;
  box-shadow:3px 3px 6px #290066;
}

.ui-items{
  width:calc( var(--foto-width) * var(--qtd));
  height:100%;
  display:flex;
  flex-wrap:nowrap;
}
.ui-items .ui-item{
  width: var(--foto-width);
  height:var(--foto-height);
  padding:1.5em;
  background-size:cover;
  background-position: center;
  color:white;
  text-shadow: 1px 1px 2px #000;
  display:flex;
  justify-content:center;
  align-items:center;
}

.ui-items .ui-item span{
  text-align:center;
  font-size:24px;
  position:relative;
  font-family:"lato", serif;
  background-color:#45454565;
  border-radius: 10px;
  background-size: 0% 100%;
  background-position: 0% 100%;
  background-repeat:no-repeat;
}

.ui-buttons{
  display:inline-block;
  position:sticky;
  left:50%;
  bottom:10px;
  transform:translateX(-50%);
}

.ui-buttons a{
  display:inline-block;
  border-radius:50%;
  width:15px;
  height:15px;
  background-color: #7519ff;
  transition:transform 0.1s;
  pointer-events:auto;
}

a:active {
  outline:none;
  background-color: #ff3eff;
  transform:scale(1.1);
}

.car-container{
  padding: 30px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: #fef5;
  text-align: center;
}
.car-container > figure{
  display: inline-flex;
  padding: 0px 10px 0px 10px;
}
.car-container > h2{
  display: inline-flex;
}
.car-container > figure > img{
  height: 30px;
}
.carrossel{
  padding: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.carrossel figure{
  padding: 50px 100px 50px 100px;
}

/* ======> FIM DO TESTE DE CARROSSEL <========*/

/* ======> INICIO DOS ITENS DA PAG DESTINO <========*/

.box_destino{
  display: inline-block;
  padding: 10px 5px 10px 5px;
  width: 23%;
  background-color: #ff3eff23;
  border: 1px solid #ff3eff;
  border-radius: 20px;
  text-align: center;
  margin: 10px 5px 10px 5px;
}
.box_destino > img{
  box-shadow: 1px 1px 2px #7519ff;
  border-radius: 10px;
  width: 80%;
}
.box_destino:hover{
  background-color:#7519ff55;
  border: 1px solid #7519ff;
  color:#290066;
}
.descricao{
  font-size: 1.1em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:500;
  margin-bottom: 10px;
}
.diarias{
  font-size: 0.8em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:300;
  margin: 10px;
}
.preco{
  margin-top: 0;
  color:#7519ff;
  font-size: 1.2em;
}

.destinos{
  margin: 20px 10px 0px 20px;
  display:inline-block;
  width: 80%;
}

.categorias{
  display: inline-block;
  font-size: 18px;
  margin: 0;
  width: 20%;
  background-color: lightgray;
}
.categorias > h2{
  background-color:#45454565;
  color:#290066;
  padding: 20px;
}
.categorias > .categ-links {
  background-color: lightgray;
  border-radius: 0px 20px;
  width: 100%;
  display: block;
  float: left;
  font-size: 1.2em;
  margin: 0px;
}
  
.categorias > .categ-links > a {
  display: block;
  padding: 13px 10px 13px 20px;
  text-decoration: none;
  color: #4f4f4f;
}
  
.categorias > .categ-links > a:hover {
  background-color: #ff3eff23;
}

@media only screen and (max-width:800px) {
  .categorias > h2{
    background-color:#45454565;
    color:#290066;
    padding: 10px;
    font-size: 1.2rem;
  }
  .categorias > .categ-links > a {
    display: block;
    padding: 13px 10px 13px 20px;
    text-decoration: none;
    color: #4f4f4f;
    font-size: 1.2rem;
  }
  .descricao{
    font-size: 0.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    margin-bottom: 10px;
  }
  .preco{
    font-size: 0.9em;
    margin-top: 0;
    color:#7519ff;
  }
  .box_destino{
    display: inline-block;
    padding: 10px 5px 10px 5px;
    width: 23%;
    height: 180px;
    background-color: #ff3eff23;
    border: 1px solid #ff3eff;
    border-radius: 20px;
    text-align: center;
    margin: 10px 5px 10px 5px;
  }
}
/* ======> FIM DOS ITENS DA PAG DESTINO <========*/

/* ======> INÌCIO DOS ITENS DA PAG PROMOÇÔES <========*/

.promo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.box-promo{
  margin: 10px;
  border-radius: 20px;
  position: relative;
  width: 350px;
  height: 200px;
  background:#290066;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.box-promo .imgBox{
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-promo .imgBox img{
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box-promo:hover .imgBox img{
  border-radius: 20px;
  opacity: 0;
}

.box-promo .content{
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 80px;
  background:#fefa;
  transition: 0.5s;
  overflow: hidden;
  text-align: center;

}

.box-promo:hover .content{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box-promo .content h3{
  font-size: 24px;
  text-align: center;
}

.box-promo:hover .content h3{
  display: none;
}

.intro{
  padding: 10px 10px 0px 10px;
  display: block;
  justify-content: center;
  align-items: center;
}

.preco1{
  padding: 5px 10px 0px 0px;
  display: inline-flex;
  text-decoration: line-through;
  color: #333;
}

.preco2{
  padding: 5px;
  display: inline-flex;
  font-size: 1.3em;
  font-weight: bold;
  color: red;
}

.box-promo:hover{
  opacity: 1;
  transition-delay: 0.5s;
}

.promo-card h2{
  margin-top: 5px;
  color: #000;
}

.promo-card h2, h4{
  text-align: center;
}

.promo-card p{
  padding: 0px 15px 0px 15px;
  font-size: 16px;
  text-align: justify;
  margin-top: 10px;
}


@media only screen and (max-width: 800px){
  .promo{
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
  }
  .box-promo{
    margin: 30px;
  }
}

/* ======> FIM DOS ITENS DA PAG PROMOÇÔES <========*/

/* ======> INÌCIO DOS ITENS DA PAG CONTATO <========*/
.contato{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 20px;
}
.contato > figure{
  display: inline-block;
  width: 40%;
  padding: 20px;
}
.contato > figure > img{
  display: inline-block;
  width: 100%;
}
.contato > form{
  display: inline-block;
  width: 40%;
  padding: 30px;
  text-align: center;
  background-color: #ff3eff23;
  border-radius: 20px;
}
.contato > form > label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.contato > form > .input{
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px groove #ff3eff;
  height: 25px;
}
.contato > form > #msg{
  margin: 10px 0px 10px 0px;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px groove #ff3eff;
}
.contato > form > #btn-enviar{
  margin: 10px 0px 10px 0px;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 18px;
  width: 40%;
  border: none;
  box-shadow: 2px 2px 3px #333;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(255,62,255,.7) 0%, rgba(117,25,255,.7) 100%); ;
}
.contato > form > #btn-enviar:hover{
  color: #ddd;
  background: linear-gradient(90deg, rgba(255,62,255,.5) 0%, rgba(117,25,255,.5) 100%); ;
}